.wrapper {
	margin-top: 45px;
}

.person__name {
	padding: 10px;
	border-radius: 5px 5px 5px 0;
	font-size: 18px;
	font-weight: 600;
	background-color: #ae72c2;
	color: #fff;
}

.content {
	display: flex;
	flex-wrap: wrap;
	border-left: 5px solid #ae72c2;
	border-radius: 5px;
	padding: 20px;
}
